.picker-container{

}

.game-board {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  background-color: #acacac;
  width: 30vw;
  height: 30vw;
  margin: 1vw;
  float: left;
}

.game-position {
  width: 22%;
  height: 22%;
  background-color: #bcbcbc;
  margin: 1.5%;
}
.game-tile {
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: #ffffcc;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.colour-display {
  width: 100%;
  height: 10vh;
}

#colour-display-label {
  text-align: center;
  font-size: large;
}